@import "elements.less";


@dark: #000000;
@purple: #471F41;
@brown: #B8712C;
@blue: #2C468F;
@green: #33754C;
@white: #FFFFFF;

@link-color: @brown;

@font: Helvetica;
@monofont: Courier;

@rounding: 20px;

@smallfontsize : 0.85em;


body {
  font-family: @font;
  color: @white;
  line-height: 1.2em;
}

.header {
  .header-inner {
    position: relative;  
    margin: 0 auto;
    width: 80%;
    padding-top: 10px;
    padding-bottom: 10px; 
    h1 {
      padding-left: 20px;  
      color: @purple;
      font-size: 1.5em;
      font-weight: bold;
    }
    h2 {
      padding-left: 40px;  
      color: @purple;
    }  
  }   
  .gradient(#F5F5F5, #EEE, #FFF);
  width: 100%;
}

a {
  text-decoration: none;  
}

div.content {
  .content-inner {
    padding: 40px;
    
  }
    
  a {
  color: @link-color;  
  }
  
  h1 {
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 1.3em;
  }  
  
  ul {
    margin-left: 20px; 
    li {
      padding: 1px;  
    }     
  }  
  
  p {
    padding-top: 15px;  
  }  
  
  div.module {
    p.title { 
      margin-top: 20px;
      font-size: 1.4em;
      color: @brown;
      display: inline;
    }  
    p.author { 
      display: inline; 
      font-size: @smallfontsize;
      padding-left: 20px;
    } 
    p.version {
      display: inline;  
      font-size: @smallfontsize;
      padding-left: 3px;      
    }     
    p.rating {
      display: inline; 
      padding-left: 20px;
      font-size: @smallfontsize;  
      span.rating {
          font-weight: bold;   
        color: @brown;
      }          
      span.rate {
        padding-left: 20px;
        }        
    }     
    p.notfinished {
      font-weight: bold;  
      
    }    
    p.uniquename-description, p.auth_code-description {
      font-size: @smallfontsize;  
    }    
    
    p.modulename {
      font-size: @smallfontsize;  
      margin-left: 20px;
    }    
    p.uniquename, p.auth_code {
      text-align: center;
      margin-bottom: 20px;    
      span {
        border: 2px solid @brown;
        display: inline-block;      
        font-size: 1.2em;
        font-weight: bold;
        color: @brown;
        font-family: @monofont; 
        padding: 5px;
        .rounded(3px); 
      } 
    }
    p.sourcecode-description, p.documentation-description {
      font-weight: bold;  
    }    
    div.sourcecode {
      code {
        white-space: pre-wrap;
        font-family: @monofont;
      }          
        overflow: scroll;
        max-height: 300px;
      margin: 20px;
      padding: 10px 0;    
      border-top: 1px solid @brown;
      border-bottom: 1px solid @brown;
    }   
    p.documentation {
      margin: 20px;  
    }     
  }  
  
  .border-radius(0, @rounding, @rounding, 0);
  border: 3px solid @green+#222;
  border-top: 0px;
  background-color: @green;
  margin: 0 auto;  
  width: 80%;
}

ul.errorlist {
  color: red; 
  font-weight: bold; 
}

table.moduleedit {
  width: 100%;
  
  tr {
    
  }  
  
  th {
      vertical-align: top;
      text-align: right;
      padding-right: 20px;
  }  
  
  td {
    width: 70%;
    
    input#id_title, input#id_modulename {
      width: 50%;  
    }    
    input#id_author_acronym {
      width: 6em;  
    }    
    
    textarea {
      width: 90%;  
    }
    textarea#id_description, textarea#id_documentation {
      font-family: @font;
      height: 15em;  
    }
    textarea#id_sourcecode {
      height: 20em;  
    }        
    span.helptext {
      width: 90%;
      display: block;  
    }    
  }    
}

div.module_item {
  clear: both;
  position: relative;
  padding: 10px 0;
  div.title {
    display: inline;
    float: left;
    padding-left: 30px;
    width: 40%;
  }
  div.rating {
    display: inline;
    float: left;
    width: 2em;
  }
  div.uniquename {
    display: inline;
    float: left;    
    padding-left: 30px;
  }
  div.description {
    display: none;
    clear: both;
    background-color: @green + #111;
    border: 2px solid @green - #222;
    z-index: 10;
    padding: 20px;
    h2 {
      font-size: 1.3em;
    }
    p {
      
    }        
  }          
  &:hover div.description {
    display: block;
    position: absolute;
    top: 1.8em;
    left: 30%;
  }
}

div.header {
  div.widgets {
    position: absolute;
    right: 40px;
    top: 50%;
    margin-top: -15px;
    
    .search {
      background-color: @green;
      .rounded(4px);
      padding: 1px;
      margin-right: 10px;
      display: inline-block;
      a {
        color: white;
        .rounded(4px);  
        display: inline-block;  
        border: 2px solid @green - #111;
        text-decoration: none;
        font-weight: bold;
        span {  
        display: inline-block;
          margin: 7px;
        }
      }  
    }
    
    .add-module {
      margin-top: -15px;
      background-color: @green;
      .rounded(4px);
      padding: 1px;
      display: inline-block;
      a {
        color: white;
        .rounded(4px);  
        display: inline-block;  
        border: 2px solid @green - #111;
        text-decoration: none;
        font-weight: bold;
        span {  
        display: inline-block;
          margin: 7px;
        }
      }  
    }
  }
}