<!DOCTYPE html>
<html>
  <head>
    <title>Seamless for OpenSCAD</title>
    <link href="{{ STATIC_URL }}css/reset.css" type="text/css" rel="StyleSheet" />
    <link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}less/styles.less">
    <script src="{{ STATIC_URL }}js/less.js" type="text/javascript"></script>
    <!-- <link href="{{ STATIC_URL }}css/style.css" type="text/css" rel="StyleSheet" /> -->
  </head>
  <body>
    <div class="header">
      <div class="header-inner">
        {% block header %}
        <h1><a href="/">Seamless for OpenSCAD</a></h1>
        <h2><a href="/">Seamless embedding of online modules.</a></h2>
        {% endblock %}
        {% block header-additional %}
        
        {% endblock %}
      </div>
    </div>
    <div class="content">
      <div class="content-inner">
        {% block content %}{% endblock %}
      </div>
    </div>
  </body>
</html>